
/*шрифты*/
@font-face {
  font-family: "GothamProLight";
  src: url(../fonts/GothamProLight/GothamProLight.eot);
  src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
  url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.App {
  width: 1024px;
  height: 768px;
  overflow: hidden;
}

html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "GothamProLight";
  color: white;
  vertical-align: baseline;
}


h1 {
  margin: 0;
}


.wrapper {
  position: relative;
  background: url("../img/testCopy.png") 100% 100% no-repeat;
  transition: all .6s;
}
.wrapper.state_0>.next {
  display: block;
}
.wrapper.state_1 {
  transform: translate3d(0, -768px, 0);
}
.wrapper.state_2 {
  transform: translate3d(0, -1536px, 0);
}


.container {
  height: 768px;
  width: 1024px;
  position: relative;
}




  /*пагинация*/
  .pagination {
    position: fixed;
    right: 27px;
    top: calc(50% - 31px);
    transition: all .6s;
    }
    .pagination-circle{
        background-color: white;
        width: 13px;
        height: 13px;
        border-radius: 50px;
        margin-top: 8px;
    }
      .pagination.state_0>.pagination-circle:nth-child(1) {
        background-color: #f78b1f;
      }
      .pagination.state_1>.pagination-circle:nth-child(2) {
        background-color: #f78b1f;
      }
      .pagination.state_2>.pagination-circle:nth-child(3) {
        background-color: #f78b1f;
      }
    

.next {
  display: none;
  position: fixed;
  width: 1024px;
  height: 100px;
  bottom: 0;
  z-index: 1000;
  }
  .next-img {
    width: 1024px;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 555px);
    z-index: 100
  }
  
  .next>p {
    padding-top: 10px;
    text-align: center;
    color: white;
    z-index: 122200;
  }
  
  
  .arrow {
    position: relative;
    display: inline-block;
    left:calc(50% - 2.5em);
    bottom: 35px;
    width: 3rem;
    height: 0.5rem;
    margin: 1rem;
    z-index: 2000
  }
  .arrow::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    border: 2px solid white;
    width: 1.5rem;
    height: 1.5rem;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
  }
  .arrow--down::before {
    left: 10px;
    top: 10px;
    border-right: 0;
    border-top: 0;
  }
            
            
.text {
  font-size: 47px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  font-weight: 100;
}

.text-middle {
  padding-top: 30%;
  text-align: center;
}

.text-bottom {
  font-size: 30px;
  text-align: left;
  position: absolute;
  left: 83px;
  top: 109px;
}

.text-top {
  color: #0d319c;
  text-align: left;
  position: absolute;
  left: 70px;
  top: 165.5px;
  font-weight: 600;
}

.one {
  background: url(../img/tab-top.png) 100% 100% no-repeat;
  background-position: left 42px top 27px;
}

.two {
  background: url(../img/test.png) 100% 100% no-repeat;
}