.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*шрифты*/
@font-face {
  font-family: "GothamProLight";
  src: url("../fonts/GothamProLight/GothamProLight.eot");
  src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
  url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html, body, div {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
    font-family: "GothamProLight";
    color: white;
vertical-align: baseline;
}


h1 {
margin: 0;
}


.wrapper {
position: relative;
background: url("img/testCopy.png") 100% 100% no-repeat;
}

.container {
height: 768px;
position: relative;
}

/*нижниий контент*/
.bottom {
overflow: hidden;
overflow-x: scroll;
white-space:nowrap;
}
.bottom-content{
    width: 1024px;
    display: inline-block;
    vertical-align: top;
}

/*пагинация*/
#pagination {
position: fixed;
right: 27px;
top: calc(50% - 31px);
}
.pagination-circle{
    background-color: white;
    width: 13px;
    height: 13px;
    border-radius: 50px;
    margin-top: 8px;
}
.pagination-circle-active{
    position: absolute;
    background-color: #f78b1f;
    display: none;
}
    .pagination-circle-active:first-child{
        display: block;
    }

/*ползунок*/
.range {
position: absolute;
bottom: 2em;
width: 618px;
left: calc(50% - 309px);
}

.range>p {
      font-size: 22.471px;
      color: rgb(255, 255, 255);
      line-height: 1.2;
      text-align: justify;
      text-align-last: justify;
}


input[type=range] {
-webkit-appearance: none;
width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
width: 100%;
height: 8.4px;
cursor: pointer;
box-shadow: 0;
background: #435063;
border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
height: 55px;
width: 43px;
border-radius: 3px;
background: url(../img/range_thumb.png);
margin-top: -25px;
}


.next {
position: fixed;
width: 1024px;
height: 100px;
bottom: 0;
z-index: 1000;
}
.next-img {
    width: 1024px;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 555px);
    z-index: 100
}

.next>p {
    padding-top: 10px;
    text-align: center;
    color: white;
    z-index: 122200;
}


.arrow {
position: relative;
display: inline-block;
left:calc(50% - 2.5em);
bottom: 35px;
width: 3rem;
height: 0.5rem;
margin: 1rem;
z-index: 2000
}
.arrow::before {
content: '';
display: block;
position: absolute;
top: 50%;
border: 2px solid white;
width: 1.5rem;
height: 1.5rem;
-webkit-transform: translateY(-50%) rotate(-45deg);
      transform: translateY(-50%) rotate(-45deg);
}
.arrow--down::before {
left: 10px;
top: 10px;
border-right: 0;
border-top: 0;
}


.text {
font-size: 47px;
color: rgb(255, 255, 255);
line-height: 1.2;
font-weight: 100;
}

.text-middle {
padding-top: 30%;
text-align: center;
}

.text-bottom {
    font-size: 30px;
    text-align: left;
    position: absolute;
    left: 83px;
    top: 109px;
}

.text-top {
    color: #0d319c;
    text-align: left;
    position: absolute;
    left: 70px;
    top: 165.5px;
    font-weight: 600;
}

#one {
 background: url(../img/tab-top.png) 100% 100% no-repeat;
background-position: left 42px top 27px;
}

#two {
background: url(../img/test.png) 100% 100% no-repeat;
}

#three-one {
background: url(../img/3_1.png) 100% 100% no-repeat,
    url(../img/tab-1988.png) 100% 100% no-repeat;
}

#three-two {
background: url(../img/3_2.png) 100% 100% no-repeat,
    url(../img/tab-2009.png) 100% 100% no-repeat;
}

#three-three {
background: url(../img/3_3.png) 100% 100% no-repeat,
    url(../img/tab-2016.png) 100% 100% no-repeat;
}
